<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
	xmlns:android   = "http://schemas.android.com/apk/res/android"
    id        = "com.migente.android.cell"
    version   = "13.12.21">

<name>Revista Mi Gente TV</name>

<description>
Revista Mi Gente TV Edición 72.
</description>

<author href="http://vistad.co" email="vista@vistad.co">
Royal Media
</author>

<preference name="phonegap-version" value="3.7.0" />

<preference name="splash-screen-duration" value="7000" />

<preference name="orientation" value="portrait" />

<preference name="fullscreen" value="true" />

<preference name="permissions" value="none"/>

<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/device" />
<feature name="http://api.phonegap.com/1.0/file" />

<icon src="icon.png" />
<icon src="iconos/android/icono36x36.png" gap:platform="android" gap:density="ldpi" />
<icon src="iconos/android/icono48x48.png" gap:platform="android" gap:density="mdpi" />
<icon src="iconos/android/icono72x72.png" gap:platform="android" gap:density="hdpi" />
<icon src="iconos/android/icono144x144.png" gap:platform="android" gap:density="xhdpi" />

<gap:splash src="splash.png" />
<gap:splash src="splash/android/splash200x320.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="splash/android/splash320x480.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="splash/android/splash480x800.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="splash/android/splash720x1280.png" gap:platform="android" gap:density="xhdpi" />

</widget>